
.header {
    display: flex;                      
    justify-content: center;     
    align-items: center; /* Align logos and text vertically */
    background-color: #002b55;
    z-index: 1;
    width: 100%;
}

/* Rectangle container for the logo with rounded edges */
.rectangle-container {
    background-color: white; /* White background for the rectangle */
    border-radius: 50px; /* Rounded edges */
    padding: 1vh 2vw;         
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
}

.rectangle-container img {
    height: 4vh;  
    width: auto;
}

/* Triangle container for the inverted triangle */
.triangle-container {
    position: relative; /* Positioned relative to allow the triangle to overlap */
    width: 22vw; /* Adjusted width to match the design */
    height: 6.7vh;  /* Adjust height to match the design */
    margin: 0 32vw;  /* Center the triangle in the header */
    z-index: 2;
    align-items: center;
}

/* Create an inverted triangle */
.triangle-container::before {
    content: '';
    position: absolute;
    top: -1vh;
    left: 0;
    right: 0;
    bottom: -2.5vh;
    background-color: white;            
    clip-path: polygon(50% 100%, 0 0, 100% 0); /* Inverted triangle shape */
    z-index: -1; /* Behind the logo */
    height: 275%;             
}


.triangle-container img {
    position: relative; /* To center the logo inside the triangle */
    top: 0px;
    left: 50%;
    transform: translateX(-50%);       
    height: 15vh;                   
    width: auto; /* Maintain aspect ratio */
    z-index: 1; /* On top of the triangle */
}

/* Title in the center of the header */
.header .title {
    font-size: 1.5rem;
    color: white;                     
    text-transform: uppercase;          
    margin: 0 15px;                          
    text-align: center;
    font-weight: bold;                
}


/* Responsive styles */
@media (max-width: 800px) {
    .header {
        display: flex;
        justify-content: left;
    }

    .triangle-container {
        width: 20vw;                    
        height: 5vh;              
    }

    .triangle-container img {
        height: 10vh;
    }

    .rectangle-container{
        display: none; /* Hide rectangle container on small screens */
    }

    .title {
        font-size: 1.2rem;  
    }
}
