/* Main content layout */
.main-content {
  display: flex;
  flex: 1;
  flex-direction: row;
  width: 100%;
  height: 100%;
  padding: 2vh 2vh 0vh 2vh;
  font-family: 'Segoe UI';
  overflow-y: hidden;
  align-items: center;
  object-fit: cover;
  position: static;
}

/* Left panel (40% of the screen) */
.left-panel {
  width: 40%;
  display: flex;
  flex-direction: column;
  margin-right: 30px;
  height: stretch;
  overflow: hidden;
  justify-content: center;
}

/* Info + 3D section (60% of the left panel) */
.info-3d-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 65%; 
  gap: 20px;
  background-color: white;
  border-radius: 24px;  
  margin-bottom: 20px;
}

/* Boat information (upper side in the info-3d-container) */
.boat-info {
  padding: 3vh 1vw 0vh 0vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 20%;
  width: 100%;
  margin: 1vh 0.5vw;
  position: relative;
}

/* Boat information (left side in the info-3d-container) */
.boat-characteristics {
  padding: 1px 0px 0px 20px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
  height: 20%;
  object-fit: cover;
}

.boat-characteristics p {
  margin: 0.2vh; 
  padding: 0; 
  line-height: 0.8; 
  font-size: 1rem;
}

.boat-characteristics h1 {
  font-size: 1.9rem;
}

/* Boat image (right side in the info-3d-container) */
.boat-image {
  display: flex;
  align-items: right;
  justify-content: center;
  width: 30%;
  padding: 2vh 1vw;
}

.boat-image img {
  max-width: 100%; /* Keep the image responsive */
  height: auto;
  object-fit: cover;
  border-radius: 20px;
}

/* 3D visualization below the info and image */
.three-d-visualization {
  height: 60%; 
  margin: 1vh 1vw 2vh;
  display: flex;
  align-items: center;
  border: 1px solid black; /* Add a border for the 3D placeholder */
  border-radius: 20px;   /* Round edges */
  box-shadow: 1vh 1vh 1.5vh rgba(0, 0, 0, 0.2);
}


/* Report download (35% of the left panel) */
.pdf-report {
  /* height: 35%;  */
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 0.2vh;
  border-radius: 20px;   /* Round edges */
}

.pdf-report-header {
  padding: 0vw 5%;
  width: 100%;
  height: 4vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #002b55; /* Background color */
  color: white; /* Text color */
  border-radius: 20px 20px 0 0; 
}

.pdf-report-header span {
  flex-grow: 1;
  font-weight: bold;
}

.pdf-report-buttons {
  display: flex; /* Align buttons horizontally */
  align-items: right;
  justify-content: right;
  gap: 2vh;
  object-fit: cover;
  font-weight: 0;
  height: 100%;
}

.pdf-report iframe {
  width: 100%;
  height: stretch;
  border: none; 
  border-radius: 0 0 20px 20px; 
}

.middle-panel{
  width: 20%;
  display: flex;
  flex-direction: column;
  margin-right: 30px;
  height: stretch;
  overflow: hidden;
  justify-content: baseline;
  /* align-items: center; */
  border-radius: 24px;
  padding: 4vh;
  background-color: rgb(226, 226, 226);
  /* border: 3px ridge black; */
}

.middle-panel p {
  margin-top: 3vh; 
  margin-bottom: 1vh;
  line-height: 1.3; 
  font-size: 1rem;
  text-align: justify;
  align-items: baseline;
}

.middle-panel ul{
  margin: 0;
  text-align: left;
}

.color-panel{
  border-radius: 24px;
  overflow: hidden;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 15%; 
  width: stretch;
  opacity: 0.8;
  align-items: center;
  color: white;
}



/* Right panel (60% of the screen) */
.right-panel {
  flex: 1;
  display: flex;
  height: 100%;
  width: stretch;
  background-color: #e7e6e6;
  display: flex;
  justify-content: center;
  border-radius: 20px;  
  position: relative;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
}

.background_img {
  opacity: 0.1;
  position: absolute;
  align-items: center;
  justify-content: center;
  z-index: 10;
}


/* Chat Component */
.chat-container {
  display: flex;
  flex-direction: column;
  margin: 1vh 0.5vh 0.5vh 0.5vh;
  height: 100%;
  width: stretch;
  border-radius: 31px;
  overflow: hidden;
  z-index: 10;
}

.chat-messages {
  flex: 1;
  padding: 10px;
  margin: 10px 15px 12px 15px;
  overflow-y: auto; /* Scrolling within the messages area */
  overflow-wrap: anywhere;
  margin-bottom: 10px;
  max-height: 70vh;
  position: relative;
}

.chat-message {
  padding: 8px 10px;
  margin: 5px 0;  
  word-break: normal;  
}

.chat-message.user {
  align-self: flex-end;
  color: #002b55;
  text-align: right;
  font-weight: bold;
  padding-left: 5vh;
  padding-right: 3vh;
  flex-direction: row-reverse;
}

.chat-message.bot {
  align-self: flex-start;
  color: black;
  align-content: right;
  margin-bottom: 30px;
  text-align: justify;
  padding-right: 5vh;
  padding-left: 3vh;
  flex-direction: row;
}

.chat-icon{
  flex-shrink: 0; /* Prevent shrinking of the icon */
  height: 3vh;
  display: flex;
}

.chat-input {
  display: flex;
  padding: 2.5vh;
  border-radius: 24px;
  border: none;
}

.chat-input input {
  flex: 1;
  padding: 15px 25px;
  background-color: #b2b1b1;
  border-radius: 24px;
  outline: none;
  border: none;
  font-size: 15px;
  margin-left: 10px;
}

.chat-input button {
  margin-left: 10px;
  padding: 0px 12px 2px 15px;
  border: none;
  background-color: #947830;
  color: white;
  border-radius: 100px;
  cursor: pointer;
  font-size: 18px;
  align-items: center;
}

.chat-input button:hover {
  background-color: #815a30;
}



/* Responsive adjustments for smaller screens */
@media (max-width: 1000px) {
  .main-content {
      flex-direction: row;
      width: stretch; 
      height: stretch;
      padding: 10px; 
  }

  .boat-characteristics p{
    display: none;
  }

  .left-panel{
    width: 30%;
    font-size: small;
  }

  .right-panel{
    flex: 1;
  }

  .three-d-visualization {
    margin-top: 10px;
  }
}
