body, html {
  margin: 0;
  padding: 0;
  overflow-y: hidden; /* Prevent scrolling */
  overflow-x: hidden;
  width: auto;
  height: auto;
}

#root {
  width: auto;
  height: auto;
  display: flex;
}

.App {
  font-family: 'Segoe UI', 'open sans';
  background-color: #f4f4f4;
  width: 100%;
  height: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: #002b55;
  width: 100%;
}

.header-logo img {
  height: 50px;
}

.sidebar-toggle-btn {
  background: transparent;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
  padding: 10px;
  position: relative;
}

.content.shifted {
  margin-left: 170px; /* Shift content to the right */
  padding-left: 50px;
  margin-top: 80px;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px 50px 50px 50px;
  padding: 5px 5px 5px 5px;
  overflow: hidden;
  width: auto;
  height: auto;
}

.pdf-report a {
  display: block;
  padding: 5px;
  background-color: #002b55;
  color: white;
  text-align: center;
  text-decoration: none;
}
